@model Business.ViewModels.Slider.SliderUpdateViewModel
@{
    ViewData["Title"] = "Update";
}

<div style="padding-top: 5%" class="container">

    <form style="padding-top: 5%" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Slayd mətn başlığı</label>
            <input asp-for="Name" style="text-transform: none" class="form-control" id="exampleFormControlTextarea1" rows="3"></input>
        </div>
        <div class="form-group">
            <label asp-for="Title">Slayd mətni</label>
            <input asp-for="Title" style="text-transform: none" class="form-control" id="exampleFormControlTextarea1" rows="3"></input>
        </div>
        <div class="form-group">
            <label asp-for="Photo" class="form-label" for="customFile">Şəkil seçin</label>
            <input asp-for="Photo" type="file" class="form-control" id="customFile" />
        </div>
        <button type="submit" class="btn btn-success">Əlavə et</button>
    </form>
</div>

