@model Business.ViewModels.GenderCategory.GenderCategoryCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<div style="padding-top: 5%" class="col-8 container" style="padding: 5%">
    <form style="padding: 5%" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Əsas kateqoriya adı</label>
            <input asp-for="Name" class="form-control" id="exampleFormControlTextarea1" rows="3"></input>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Əlavə et</button>
    </form>
</div>
