
@{
    ViewData["Title"] = "Index";
}


<div class="container for-container">
    <h2 class="text-center mt-3 headerTitle">Privacy policy</h2>
    <div class="for-padding">
        <p><strong>Hörmətli müştəri, məlumatlarınızın məxfiliyinin qorunması bizim üçün çox vacib amillərdən biridir. Nəzərinizə çatdırırıq ki, “Fərdi məlumatlar haqqında” Azərbaycan Respublikası Qanununun 5.2-ci maddəsinin tələblərinə uyğun olaraq, ad, soyad, elektron poçt ünvanı, telefon nömrəsi və/və ya bu kimi&nbsp; şəxsi məlumatları digər üçüncü şəxsə və ya quruma ötürmür. Saytımız şəxsi məlumatlarınızı yalnız xidmətlərimiz və sayt haqqında xəbərlər, eləcə də yeniliklər barədə sizi məlumatlandırmaq məqsədilə əlaqə üçün istifadə edəcək. Müasir informasiya texnologiyalarının bizə verdiyiniz məlumatların toplanmasında və istifadəsindəki əhəmiyyətini əks etdirmək üçün bu “Məxfilik Siyasəti” adlanan bölmə hazırlanmışdır. Bu “Məxfilik Siyasəti”ndə&nbsp;</strong><strong>“biz”ə edilən istinadlar sayta mübasibətdə istifadə olunur və “siz”ə edilən istinadlar fərdi məlumatların subyektinə münasibətdə istifadə olunur.</strong></p>

        <p>&nbsp;</p>

        <p>Bu “Məxfilik Siyasəti”&nbsp;&nbsp;<a asp-controller="Home" asp-action="Index">www.lifestyle.az</a>&nbsp;veb-saytında (veb-sayt) toplanan məlumatlara aiddir. Saytımız sizin “istifadəçi” (sadəcə veb-sayta daxil olan istifadəçi) və ya “üzv” (qeydiyyatdan keçmiş istifadəçi) olmağınızdan asılı olmayaraq, məlumatlarınızın məxfiliyinə daim diqqətlə yanaşır və sizə aid fərdi məlumatların mühafizəsini təmin edir. Saytdan istifadə etməklə, əlaqə vasitələrinizi daxil etməklə və ya qeydiyyatdan keçməklə, siz bu “Məxfilik Siyasəti” və onun şərtləri ilə razılaşdığınızı təsdiqləmiş və “Fərdi məlumatlar haqqında” Qanunun 8.1-ci maddəsinə uyğun olaraq sizə aid olan fərdi məlumatların toplanmasına və işlənməsinə dair yazılı razılıq vermiş hesab edilirsiniz.&nbsp;Bu razılıq tərəfinizdən saytda müəyyən olunmuş qaydalara uyğun olaraq qeydiyyatınız ləğv edildiyi müddətədək qüvvədədir. Hər hansı şərt və ya qayda ilə razı deyilsinizsə, xahiş edirik veb-saytdan istifadə etməyəsiniz və ya “Fərdi məlumatlar haqqında” Qanunun 7.2-ci maddəsinə uyğun olaraq barənizdə məlumatların toplanılmamasına və işlənilməməsinə dair yazılı etirazınızı bizə təqdim edəsiniz.</p>

        <p>&nbsp;</p>

        <p>Nəzərinizə çatdırırıq ki, bu “Məxfilik Siyasəti” vaxtaşırı olaraq yenilənə və dəyişdirilə bilər. “Məxfilik Siyasəti”nə edilən hər hansı dəyişiklik barədə məlumat veb-saytda yerləşdiriləcək və ya email vasitəsilə sizə göndəriləcək. Hansı məlumatların toplanıldığı, necə istifadə edildiyi və ya hansı şərtlər daxilində aşkarlandığı barədə məlumatlı olmaq üçün bu səhifəni mütəmadi yoxlamaq vəzifəsi sizə aiddir. İstənilən halda, dəyişiklik edilmiş “Məxfilik Siyasəti” dəyişikliklər barədə sizin məlumat əldə edib-etməməyinizdən asılı olmayaraq, sizə münasibətdə tətbiq ediləcək.</p>

        <p>&nbsp;</p>

        <p><strong>ŞƏXSİ OLMAYAN İNFORMASİYALAR</strong></p>

        <p>&nbsp;</p>

        <p>Qeyd edək ki, siz veb-sayta daxil olaraq özünüz haqqında hər hansı şəxsi məlumatları verməyə də bilərsiniz. Bəzi hallarda veb-sayta daxil olarkən Mərkəz tərəfindən sizə aid olan, ancaq şəxsi əhəmiyyət kəsb etməyən məlumatlar avtomatik rejimdə qeydiyyata alına bilər. Bunlar “cookies” adlanaraq, &nbsp;istifadə etdiyiniz internet brauzeri vasitəsilə sizin kompüterin sərt yaddaşına göndərilən hərf və rəqəmlərdən ibarət işarələrdir. Bu cür informasiyalara sizin hansı internet brauzerdən istifadə etdiyiniz, kompüterinizin əməliyyat sistemi, internet şəbəkəsinin domen adı, İP ünvanınız, veb-saytda baxdığınız səhifələr və ya hansı sayt/reklamdan bizim veb-saytda yönlənməyiniz haqqında məlumatlar daxildir.</p>

        <p>&nbsp;</p>

        <p>Eyni zamanda, “cookies” və ya ona oxşar fayllar vasitəsilə kompüterinizə bəzi məlumatlar yerləşdirilə bilər. Əksər internet-brauzerlərin köməyilə siz “cookies”i sərt diskdən silə, onların yaddaşda saxlanmasını&nbsp; əngəlləyə və yaxud onların saxlanacağı haqqında xəbərdarlıq ala bilərsiniz. Lakin, nəzərə almaq lazımdır ki, həmin informasiyaların qarşısını almaqla siz veb-saytın bütün seçimlərindən yararlanmaq imkanından məhrum ola bilərsiniz.</p>

        <p>&nbsp;</p>

        <p><strong>FƏRDİ MƏLUMATLAR</strong></p>

        <p>&nbsp;</p>

        <p>“Fərdi məlumatlar haqqında” Qanunun 11.1-ci maddəsinə uyğun olaraq, sizdən istənilə biləcək, ancaq buradakı siyahı ilə məhdudlaşmayacaq fərdi məlumatlar aşağıdakılardır:</p>

        <p>&nbsp;</p>

        <p>– Ad və soyad;</p>

        <p>– Email ünvanı;</p>

        <p>– Cins;</p>

        <p>– Doğum tarixi;</p>

        <p>– Poçt ünvanı;</p>

        <p>– Kredit kart nömrəsi.</p>

        <p>&nbsp;</p>

        <p>Burada qeyd olunan fərdi məlumatların toplanması həmin fərdi məlumatların subyektinin eyniləşdirilməsi və verifikasiyası məqsədilə həyata keçirilir.</p>

        <p>-Əgər məhsulda və ya stokda problem olarsa ödəniş 14 gün ərzində geri qaytarılır.</p>
    </div>
</div>