
@{
    ViewData["Title"] = "SetOrdered";
}

<div style="text-align: center">
    <h2 style="padding-top: 5%">Sifariş ver</h2>
</div>
<div class="container" style="padding: 5%">

    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Ad</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Soyad</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Məhsul rəngi</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Məhsul ölçüsü</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Şəhər</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Ünvan</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Telefon nömrəsi</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Poçt kodu</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary" style="background-color: #eb3e32">Sifariş ver</button>
        </div>
    </form>
</div>


