
@{
    ViewData["Title"] = "SuccesOrdered";
}

<div style="margin: 5%">
    <div style="padding: 5%" class="alert alert-success">
        <strong>Sifarişiniz uğurla tamamlandı. <a asp-controller="Home" asp-action="Index" >Əsas səhifə</a></strong> 
    </div>
</div>
