
@{
    ViewData["Title"] = "Index";
}

<!-- -----Favorite TABLE----- -->
<section class="cart-section pt_large">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-table table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr class="row-1">
                                <th class="row-title"><p>Məhsul</p></th>
                                <th class="row-title"><p>Məhsulun adı</p></th>
                                <th class="row-title"><p>Qiymət</p></th>
                                <th class="row-title"><p>Sil</p></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row-2">
                                <td class="row-close close-1" data-title="product-remove"><a href="#"><i class="ion-close-circled"></i></a></td>
                                <td class="row-img"><img src="./assets/image/product/Women/Salvar/product1.png" width="120px" alt="cart-img"></td>
                                <td class="product-name" data-title="Product"><a href="#" style="color: black;">Variable product 001</a></td>
                                <td class="product-price" data-title="Price"><p>$ 78.00</p></td>
                                <td class="row-close close-2" data-title="product-remove"><a href="#"><i class="bi bi-x-circle"></i></a></td>
                            </tr>
                            <tr class="row-3">
                                <td class="row-close close-1" data-title="product-remove"><a href="#"><i class="bi bi-x-circle"></i></a></td>
                                <td class="row-img"><img src="./assets/image/product/Women/Salvar/product1.png" width="120px" alt="cart-img"></td>
                                <td class="product-name" data-title="Product"><a style="color: black;" href="#">Ornare sed consequat</a></td>
                                <td class="product-price" data-title="Price"><p>$ 81.00</p></td>
                                <td class="row-close close-2" data-title="product-remove"><a href="#"><i class="bi bi-x-circle"></i></i></a></td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="12">
                                    <ul class="table-btn">
                                        <li><a href="Category-Product.html" class="btn btn-secondary"><i class="fa fa-chevron-left"></i>Alışverişə keç</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -----Favorite TABLE----- -->
