
@{
    ViewData["Title"] = "Index";
}

<section class="error-banner background_bg" data-img-src="assets/image/error-bc.jpg" style="background: url(&quot;assets/image/error-bc.jpg&quot;) center center / cover;">
    <div class="error_info">
        <div class="container">
            <div class="row justify-content-end align-items-center">
                <div class="col-md-6">
                    <div class="error-box text-center">
                        <div class="arror-img">
                            <img src="~/assets/image/404-img.png" alt="404-img">
                        </div>
                        <p class="error-text">Heç nə tapılmadı, <a asp-controller="Error_404" asp-action="Index" >Əsas səhifəyə qayıt.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

