
@{
    ViewData["Title"] = "ConfirmationSuccess";
}


<div style="margin: 5%">
    <div style="padding: 5%" class="alert alert-success">
        <strong>Hesabınız doğrulandı.</strong>Zəhmət olmasa <a asp-controller="Account" asp-action="Login">daxil olun</a> bölməsindən hesabınıza daxil olun.
    </div>
</div>
