
@{
    ViewData["Title"] = "ConfirmationSuccess";
}

<h1 style="padding: 30%">Hesabınız doğrulandı. Zəhmət olmasa <a asp-controller="Account" asp-action="Login" >daxil olun</a> bölməsindən hesabınıza daxil olun.</h1>

