@model Business.ViewModels.Auth.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

@*<section id="login">
    <div class="container py-4 py-lg-5 my-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0 box-shadow">
                    <div class="card-body">
                        <h2 class="h4 mb-1">Giriş et</h2>
                        <hr class="mt-2">
                        <div class="text-danger" asp-validation-summary="ModelOnly">
                        </div>
                        <form class="needs-validation mt-2"
                              method="post">
                            <input type="hidden" name="_token">                            <div class="form-group">
                                <label for="si-email">E-poçt ünvanı</label>
                                <input style="text-transform: none" class="form-control" asp-for="Email"
                                       placeholder="ad@gmail.com"
                                       required>
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <label for="si-password">Şifrə</label>
                                <div class="password-toggle">
                                    <input class="form-control" style="text-transform: none" asp-for="Password" id="si-password"
                                           required>
                                    <label class="password-toggle-btn">
                                        <input class="custom-control-input" type="checkbox"><i class="czi-eye password-toggle-indicator"></i><span class="sr-only">Göstər Şifrə </span>
                                    </label>
                                    <span asp-validation-for="Password"></span>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-between">

                                <div class="form-group">
                                    <input asp-for="RememberMe" class="mr-1"
                                           id="remember">

                                    <label asp-for="RememberMe" class="">Məni xatırla</label>
                                    <span asp-validation-for="RememberMe"></span>
                                </div>
                                <a class="font-size-sm" href="recover-password.html">
                                    Şifrəmi unutdum?
                                </a>
                            </div>
                            <button class="btn btn-primary btn-block btn-shadow" type="submit">
                                Giriş et
                            </button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12 col-sm-6 for-no-account">
                                <h6>Hesabın yoxdur? <a asp-controller="Account" asp-action="Register">Hesab yarat</a> </h6>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <a class="btn btn-outline-primary pull-right"
                                   asp-controller="Account" asp-action="Register">
                                    <i class="fa fa-user-circle"></i> Qeydiyyatdan keç
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@



<!-- Login-->
<section class="sign-in" id="identity">
    <div class="container">
        <div class="signin-content">
           
            <div class="signin-image">

                <figure><img src="~/login-register/pngegg.png" alt="sing up image"></figure>
                <a href="#" class="signup-image-link">Qeydiyyatdan keç</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Daxil ol</h2>

                <form method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="Email" placeholder="Email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="Password" placeholder="Şifrə"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="RememberMe" id="remember-me" class="agree-term"/>
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Xatırla məni</label>
                        <a asp-controller="Account" asp-action="ForgetPassword"  class="ml-3 text-dark">Şifrəni unutmuşam</a>
                    </div>

                    <div class="text-danger" asp-validation-summary="ModelOnly">
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" class="form-submit" value="Daxil ol"/>
                    </div>
                </form>

                <div class="social-login">
                    <span class="social-label">Bunlarla daxil ol</span>
                    <ul class="socials">
                        <li><a asp-controller="Account" asp-action="FacebookLogin"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a asp-controller="Account" asp-action="GoogleLogin"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>