@model Business.ViewModels.Auth.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@*<section id="register">
    <div class=" container py-4 py-lg-5 my-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0 box-shadow">
                    <div class="card-body">
                        <h2 class="h4 mb-1">Hesabın yoxdur? Hesab yarat</h2>
                        <p class="font-size-sm text-muted mb-4">Qeydiyyat 1 dəqiqədən az vaxt alır, lakin sifarişlərə tam nəzarət imkanı verir.</p>
                        <div class="text-danger" asp-validation-summary="ModelOnly">

                        </div>
                        <form class="needs-validation_" id="sign-up-form"
                              method="post">
                            <input type="hidden" name="_token" value="mJDHGnPGd5TlFm3wzN6SJfzn82pgjSla5TAeEKPn">                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="reg-fn">Ad</label>
                                        <input asp-for="Username" style="text-transform: none" class="form-control" required>
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="reg-ln">Soyad</label>
                                        <input style="text-transform: none" asp-for="FullName" class="form-control">
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="reg-email">E-poçt ünvanı</label>
                                        <input style="text-transform: none" asp-for="Email" class="form-control">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="reg-phone">Telefon Nömrəsi</label>
                                        <input asp-for="PhoneNumber" class="form-control" required>
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="si-password">Şifrə</label>
                                        <div class="password-toggle">
                                            <input asp-for="Password" style="text-transform: none" class="form-control" id="si-password"
                                                   required>
                                            <label class="password-toggle-btn">
                                                <input class="custom-control-input" type="checkbox"><i class="czi-eye password-toggle-indicator"></i><span class="sr-only">Göstər Şifrə </span>
                                            </label>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="si-password">Şifrəni təsdiq et</label>
                                        <div class="password-toggle">
                                            <input asp-for="ConfirmPassword" style="text-transform: none" class="form-control" id="si-password"
                                                   required>
                                            <label class="password-toggle-btn">
                                                <input class="custom-control-input" type="checkbox"><i class="czi-eye password-toggle-indicator"></i><span class="sr-only">Göstər Şifrə </span>
                                            </label>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-between">

                                <div class="form-group mb-1">
                                    <strong>
                                        <input type="checkbox" class="mr-1"
                                               name="remember" id="inputCheckd">
                                    </strong>
                                    <label class="aaa" for="remember">
                                        Mən qəbul edirəm &nbsp;<a class="font-size-sm" target="_blank" asp-controller="Privacy_Policy" asp-action="Index">
                                            Şərtlər və Qaydalar
                                        </a>
                                    </label>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login">
                                        <i class="fa fa-sign-in"></i> Giriş et
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-right">
                                        <button class="btn btn-primary" type="submit" id="sign_in">
                                            <i class="czi-user mr-2 ml-n1"></i>Qeydiyyatdan keç
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@



<!-- Register -->
<section class="signup" id="identity">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Qeydiyyat</h2>
                
                <form method="post" class="register-form" id="register-form">
                    <div class="form-group">
                        <label style="padding-bottom: 20px" ><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="Username" placeholder="Username" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="padding-bottom: 20px" ><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="FullName" placeholder="Ad Soyad" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="padding-bottom: 20px" ><i class="bi bi-telephone-fill"></i></label>
                        <input asp-for="PhoneNumber" placeholder="Telefon nömrəsi" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="padding-bottom: 20px" ><i  class="zmdi zmdi-email"></i></label>
                        <input asp-for="Email" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="padding-bottom: 20px" ><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="Password" placeholder="Şifrə" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="padding-bottom: 20px" ><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="ConfirmPassword" placeholder="Şifrə təkrarı" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>Razıyam  <a asp-controller="Privacy_Policy" asp-action="Index" class="term-service text-primary">Şərtlər və qaydalar</a></label>
                    </div>
                    <div class="form-group form-button">
                        <button type="submit" class="form-submit">Qeydiyyat
                        </button>
                        @*<input type="submit" class="form-submit" value="Qeydiyyat">*@

                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="~/login-register/2-323478_fashion-borders-images-png-images-clipart-fashion-clip.png" alt="sing up image"></figure>
                <p>Hesabın var? <a asp-controller="Account" asp-action="Login" class="-image-link">Daxil ol</a></p>
            </div>
            <div class="text-danger" asp-validation-summary="ModelOnly">

            </div>
        </div>
    </div>
</section>


<script src="~/login-register/vendor/jquery/jquery.min.js"></script>
<script src="~/login-register/js/main.js"></script>