
@{
    ViewData["Title"] = "ResetSuccesful";
}


<div style="margin: 5%">
    <div style="padding: 5%" class="alert alert-success">
        <strong>Şifrəniz uğurla sıfırlandı</strong>
    </div>
</div>
