
@{
    ViewData["Title"] = "ThanksRegistration";
}


<div style="margin: 5%">
    <div style="padding: 5%" class="alert alert-success">
        <strong>Qeydiyyat uğurla tamamlandı. Hesabınızı doğrulamaq üçün poçt qutusuna baxın.</strong>
    </div>
</div>
