
@{
    ViewData["Title"] = "Index";
}

<section id="about">
    <div class="container for-container">
        <h2 class="text-center mt-3 headerTitle">Haqqımızda</h2>
        <div class="for-padding">
            <h4>Azərbaycanın öndə gedən onlayn&nbsp;ticarət saytları arasında olan, sahib olduğu unikal üstünlükləri, 100% təhlükəsiz alış veriş təmin edən Sıfır Risk Sistemi ilə onlayn alver həvəskarlarının ən çox seçdiyi onlayn alış veriş saytı Life Style, qurulduğu gündən bu yana onlayn&nbsp;satış sistemini daha keyifli və etibarlı qılmağa davam edir . Yüzlərlə kateqoriyada olan&nbsp; inanılmaz məhsul növləri və rəqibsiz qiymətləriylə dünya markaları Life Style ilə bir klik uzağınızdadır.</h4>

            <h4>Hüquqi ünvan:Yasamal ray./H.Cavid 14/11</h4>

            <p>&nbsp;</p>

            <h3>VÖEN:1234567890</h3>
        </div>
    </div>
</section>
