
@{
    ViewData["Title"] = "Index";
}

<section id="about">
    <div class="container for-container">
        <h2 class="text-center mt-3 headerTitle">Haqqımızda</h2>
        <div class="for-padding">
            <h2>Azərbaycanın öndə gedən onlayn&nbsp;ticarət saytları arasında olan, sahib olduğu unikal üstünlükləri, 100% təhlükəsiz alış veriş təmin edən Sıfır Risk Sistemi ilə onlayn alver həvəskarlarının ən çox seçdiyi onlayn alış veriş saytı Hamısıburada, qurulduğu gündən bu yana onlayn&nbsp;satış sistemini daha keyifli və etibarlı qılmağa davam edir . Yüzlərlə kateqoriyada olan&nbsp; inanılmaz məhsul növləri və rəqibsiz qiymətləriylə dünya markaları Hamısıburada ilə bir klik uzağınızdadır. Son model elektron məhsulların olduğu texnologiya kateqoriyasından istədiyiniz mobil telefon modelini, xəyalını qurduğunuz məişət əşyasını və digər elektron məhsulları uyğun qiymət və taksit variantıyla onlayn satın ala bilər, ən sevdiyiniz markaları ehtiva edən moda kateqoriyasından mövsümün trendlərinə uyğun geyim məhsullarına, dünya brendlərinin təqdim etdiyi&nbsp; məşhur ayaqqabı markalarına, idman geyimlərinə sahib ola bilərsiniz. Onlayn satışın və etibarlı alış-verişin ünvanı&nbsp;<a href="http://www.hamisiburada.az/" target="_blank">Hamisiburada.az</a>, öz məhsullarınızı də satabiləcəyiniz bir alış veriş saytıdır. İstər fərdi satış edin istər firma sahibi təcrübəli bir satıcı olun, pulsuz üstünlüklər, inkişaf etmiş satış vasitələri, yenilənən mağaza abunələriylə bir Onlayn alışveriş&nbsp; şirkəti olan Hamisiburada.az-da alış veriş etmək çox asan və sərfəlidir.</h2>

            <h2>Hüquqi ünvan:Yasamal ray./H.Cavid 14/11</h2>

            <p>&nbsp;</p>

            <h2>VÖEN:1234567890</h2>
        </div>
    </div>
</section>
